@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background: linear-gradient(to left, rgba(7,27,82,1) 0% ,rgba(0,128,129,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

